# Default values for gitea.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## You MUST specify a hostname
hostname: gitea.apps.middleware.rhbr-lab.com

## Override where the gitea container image is pulling from
image: "quay.io/gpte-devops-automation/gitea:1.17"

# repository_size: 5Gi

# secret_key: '8 character hard to guess alpha string'
# internal_token: '106 character hard to guess string'

# Set the `"helm.sh/resource-policy": keep` annotation on PVCs to prevent accidental deletion
# pvcPolicyKeep: true

## YOU MUST SPECIFY THE DB PASSWORD!!!
db: 
  password: 'S00perSekretP@ssw0rd$'
  name: gitea-db
  user: gitea
  image: "rhel8/postgresql-13"
